@use 'sass:color';
@use '../../../styles/variables';
@use '../../../styles/mixins';
@use '../../../styles/animations';

.currency-display{
  background-color: rgba(variables.$menu-dark-color, 0.7);
  width: fit-content;
  color: white;
  padding: 0.5em 1em;
  display: flex;
  gap: .5em;
  border-radius: 2em ;
  border: 3px solid #ffb521;
  margin-left: auto;

  &__coins{
    &::before{
      content: '';
      display: inline-block;
      width: 1em;
      height: 1em;  
      background-image: url('../../../assets/icons/coin_lowres.png');
      background-size:contain;
      background-repeat: no-repeat;}
  }
  &__essence{
    &::before{
      content: '';
      display: inline-block;
      width: 1em;
      height: 1em;  
      background-image: url('../../../assets/icons/essence_lowres.png');
      background-size:contain;
      background-repeat: no-repeat;}
  }
}