// Colors
$primary-color: #3498db;
$secondary-color: #2ecc71;
$accent-color: #e74c3c;
$background-color: #f0f0f0;
$text-color: #333333;
$menu-dark-color: #264d54;

// Typography
$font-family-main: 'Noto Sans JP', sans-serif;
$font-family-heading: 'Noto Serif JP', serif;

// Breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

// Other
$border-radius: 5px;
$box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);